body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

h2 {
    text-align: center;
    color:rgba(68, 13, 13, 0.449);
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e6d9ca;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

label{
    color:#434643;
}

.form-group input[type="date"],
.form-group input[type="file"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="file"] {
    padding: 6px;
}

.form-group input[type="submit"] {
    /* background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; */
    background-color: #563727;
        cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}