/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    color: #cdcdcd;
    background-color: #372c2e;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    /* background:#DE9E48; */
    background: #e6d9ca;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}

 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 20px;
     background-color: #f2f2f2;
 }

 h1 {
     text-align: center;
 }

 .profile {
     max-width: 400px;
     margin: 0 auto;
     padding: 20px;
     border: 1px solid black;
     border-radius: 5px;
     background-color: #e6d9ca;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .profile img {
     display: block;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin: 0 auto 20px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     border:2px solid black;
 }

 .profile h2 {
     text-align: center;
     margin-bottom: 10px;
     color: #333;
 }

 .profile p {
     margin-bottom: 10px;
     color: #666;
 }

 .profile label {
     font-weight: bold;
 }

 .animation {
     position: relative;
     width: 100%;
     height: 100vh;
     overflow: hidden;
 }

 .bubbles {
     position: relative;
     display: flex;
 }

 #r {
     --i: 10;
 }

 #a {
     --i: 11;
 }

 #b {
     --i: 12;
 }

 #c {
     --i: 13;
 }

 #d {
     --i: 14;
 }

 #e {
     --i: 15;
 }

 #f {
     --i: 16;
 }

 #g {
     --i: 17;
 }

 #h {
     --i: 18;
 }

 #i {
     --i: 19;
 }

 #j {
     --i: 20;
 }

 #k {
     --i: 21;
 }

 #l {
     --i: 22;
 }

 #m {
     --i: 23;
 }

 #n {
     --i: 24;
 }

 #o {
     --i: 25;
 }

 #p {
     --i: 26;
 }

 #q {
     --i: 27;
 }

 .bubbles span {
     position: relative;
     width: 30px;
     height: 30px;
     background: #4fc3dc;
     margin: 0 4px;
     border-radius: 50%;
     box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
     animation: animate 15s linear infinite;
     animation-duration: calc(100s/var(--i));
 }

 .bubbles span:nth-child(even) {
     background: #ff2d75;
     box-shadow: 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;

 }

 @keyframes animate {
     0% {
         transform: translateY(100vh) scale(0);
     }

     100% {
         transform: translateY(-0100vh) scale(1);
     }
 }

