/* addchild.css */
#registration-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #e6d9ca;
    /* background-color: #DE9E48; */
    color: #de9e48;
}

.fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.legend {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.addChild{
    text-align: center;
    color:rgb(188, 147, 12);
}

.row {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #7a431d;
    color: #fff;
}

select{
    width:105%;
    text-align: center;
}

input[type="submit"] {
    background-color: #563727;
    cursor: pointer;
}

input[type="file"] {
    background-color: transparent;
    color: #de9e48;
    padding: 0;
}

button {
    background-color: #de9e48;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Customizations */
@media (max-width: 768px) {
    #registration-form {
        padding: 20px;
    }

    .legend {
        font-size: 20px;
    }

    label {
        font-size: 16px;
    }

    input,
    select {
        font-size: 14px;
    }
}